.time-no-placeholder::-webkit-datetime-edit-text,
.time-no-placeholder::-webkit-datetime-edit-hour-field,
.time-no-placeholder::-webkit-datetime-edit-minute-field,
.time-no-placeholder::-webkit-datetime-edit-ampm-field {
  color: transparent;
}

.time-no-placeholder:focus::-webkit-datetime-edit-text,
.time-no-placeholder:focus::-webkit-datetime-edit-hour-field,
.time-no-placeholder:focus::-webkit-datetime-edit-minute-field,
.time-no-placeholder:focus::-webkit-datetime-edit-ampm-field,
.time-no-placeholder:not([value=''])::-webkit-datetime-edit-text,
.time-no-placeholder:not([value=''])::-webkit-datetime-edit-hour-field,
.time-no-placeholder:not([value=''])::-webkit-datetime-edit-minute-field,
.time-no-placeholder:not([value=''])::-webkit-datetime-edit-ampm-field {
  color: inherit;
}
